# xml style snippets
snippet <
<${1:tag}>${2:text}</$1>
endsnippet

snippet >
    <${1:tag}>
        ${2:text}
    </$1>
endsnippet

snippet img
<img class='center' width='${2:width}' src='img/${1:path}'/>$3
endsnippet

snippet imgl
<img class='figure' data-src='${1:src}' data-preload/>
endsnippet

snippet videol
<video>
	<source data-src="${1:src}" type="video/${2:type}" data-preload/>
</video>
endsnippet
