# xml style snippets
snippet <
<${1:tag}>${2:text}</$1>
endsnippet

snippet >
    <${1:tag}>
        ${2:text}
    </$1>
endsnippet

snippet img
<img class='center' width='${2:widht}' src='img/${1:path}'/>$3
endsnippet
