# box style
snippet box
${1:tag} box $1 [label="${2:label}", textbgcolor="#${3:color}"]
endsnippet
snippet abox
${1:tag} abox $1 [label="${2:label}", textbgcolor="#${3:color}"]
endsnippet
snippet rbox
${1:tag} rbox $1 [label="${2:label}", textbgcolor="#${3:color}"]
endsnippet
snippet note
${1:tag} note $1 [label="${2:label}", textbgcolor="#${3:color}"]
endsnippet
